.container-fluid form{
    width: 350px;
    border: solid black;
    margin-top: 5px;
    margin-right: 50px;
    margin-left: 350px;
    margin-bottom: 5px;
    padding: 70px;
    align-content: center;
}
.jumbotron{
    background-image: url(../images/free.jpeg);
    background-repeat: repeat-x;
    background-size: cover;
    text-align: center;
}
.jumbotron h1{
    float: left;
    color:whitesmoke;
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.jumbotron p{
    font-size: 23px;
    align-content: center;
    color: black;
}
