.container form{
    width: 350px;
    border: solid black;
    margin-top: 5px;
    margin-right: 50px;
    margin-left: 350px;
    margin-bottom: 5px;
    padding: 70px;
}
.jumbotron{
    background-repeat: repeat-x;
    background-size: cover;
    text-align: center;
    background-color: black;
}
.jumbotron h1,h2{
    float: left;
    color: antiquewhite;
    font-size: 70px;
}
.jumbotron p{

    align-content: center;
    color: antiquewhite;
}
.container{
    background-image: url(../images/images.png);
    background-repeat: no-repeat;
    background-size: cover;
}